*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    color: inherit;
}

a{
    text-decoration: none;

}

.btn{
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.2rem;
    background: #000;
    color: #eee;
    border-radius: 50px;
    margin: 20px 0;
    transition: background 500ms ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:hover{
    cursor: pointer;
    color: darkgoldenrod;

}

#navbar{
    width: 100%;
    color: darkgoldenrod;
    height: 80px;
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    background: #111;

}
#navbar-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-items{
    display: flex;
    list-style: none;
}

#navbar-items a{
    color: #eee;
    padding: 30px;
}

#navbar-items a:hover{
    cursor: pointer;
    color: darkgoldenrod;
}

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #111 no-repeat center center/cover;

}

#showcase-container{
    text-align: center;
}

#showcase-container h5{
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #929292;
    letter-spacing: 8px;
    margin-bottom: 15px;
    margin-right: 170px;
}

#showcase-container h2{
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #eee;
    letter-spacing: 8px;
}

#showcase-container p{
    font-size: 1rem;
    padding: 7px 0;
    color: #eee;
    font-style: normal;
}

#sobre{
    height: 100vh;
    width: 100%;
    display: flex;
    color: #eee;
    background: #272727 no-repeat center center/cover;
}

#sobre-container{
    align-items: center;
  
    
} 

#sobre-container h2{
    font-size: 45px;
    color: #eee;
    letter-spacing: 20px;
    padding: 60px 60px 0px 60px;
}

#sobre-container h1{
    color: #4d4d4d;
    padding: 0px 60px 60px ;
}

#fotosobre{
    width: 40vh;
    border-radius: 100%;
    float: left;
    margin: 60px 90px;
    margin-right: 300px;
}

#sobre-container p{
    font-size: 20px;
    color: #eee;
    text-align: center;
    padding: 60px 0;

}

#sobre-container h5{
    font-size: 30px;
    justify-content: center;
    text-align: center;
    letter-spacing: 12px;
    margin-top: 200px;


}